{% extends "base.html" %}

{% block main %}
<h1>Who We Are</h1>
<br>
<hr>
<div>
<p>Just Call Courier service was founded in 2011. We are a courier service that delivers documents, small and large packages, such as: letters, utility bills, event tickets, invitations, invoices, tax office transactions, banking documents, auto parts, groceries and meals. They implement a business to consumer business model. As a courier service they aim to provide reliable, fast and efficient delivers to individual customers as well as deliveries to other companies.</p>
<p> <img src="{{url_for('static', filename='justcall.jpg')}}" /> </p>
</div>
<br>

{% endblock %}