{% extends "base.html" %}
<link href="{{ url_for('static', filename='css/all.css') }}" type= "text/css" rel="stylesheet">
{% block main %}

<h1>Make A Booking</h1>
<hr class="top"/>

  <form method="POST" action="{{ url_for('booking') }}">
      {% include 'flash_messages.html' %}

    {{ form.csrf_token }}

    <div>
     {{ form.fullname.label }} <br>
     {{ form.fullname(size=20) }}
     </div>
    <br>
    <div>
    {{ form.contact.label }} <br>
    {{ form.contact }}
    </div>
    <br>
    <div>
    {{ form.email.label }} <br>
    {{ form.email (placeholder="jdoe@example.com")  }}
    </div>
    <br>
    <div>
    {{ form.description.label }} <br>
    {{ form.description (placeholder="State the type of service required...") }}
    </div>
    
    <br>
    <input type="submit" value="Submit"/>
    
   
  </form>

{% endblock %}
