{% extends "base.html" %}

{% block main %}
<h1> <img src="{{url_for('static', filename='banner.jpg')}}" /> </h1>

<h4>Eliminates the hassle of getting things done on the road! </h4>
<br>
<br>
<div class = "list">  
<p> We provide reliable service for the following: </p>
<ul>
    <li> Letters</li>
    <li>Food </li>
    <li> Pharmacy</li>
    <li>Banking Transactions </li>
</ul>
<ul>
    <li> Supermarket</li>
    <li> Utility Bills</li>
    <li> Auto Parts</li>
    <li> Small Packages</li>
</ul>
<ul>
    <li> Party/Event Tickets</li>
    <li> Invoices</li>
    <li> Invitations</li>
    <li> Tax Office Transactions</li>
</ul>

</div> 
<br>
<h4> You can depend on us!</h4>
<br>
{% endblock %}